*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  body {
    font-family: Arial, sans-serif;
    background-size: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100px;
    background: rgb(12, 12, 12);
}
  
  
h1, h2 {
    margin-bottom: 10px;
}

#registration-form {
    margin-bottom: 20px;
    background-color: rgb(29, 31, 31);
}

#vehicle-list {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}
